# Internal API key for sdk api calls
AGENTUITY_API_KEY=sk_live_12345

# Internal API key for agent to agent communication
AGENTUITY_PROJECT_KEY=sk_live_45678

# The connection string used by the app to connect to the primary PostgreSQL database.
POSTGRES_CONNECTION_STRING=postgres://myuser:mypassword@localhost:5432/mydb


#bobby was here
BOBBY=ALSO_KEVIN_DID_THIS
